/* -----------------------------------------------
  COMMON SETTINGS
  ----------------------------------------------- */
.wrapper
  width: 100%
  height: 100%

.container
  max-width: 1280px
  margin: 0 auto


/* ヘッダー */
header.header
  position: relative
  width: 100%
.header__wrapper
  padding: 20px 0
.header__menubtn
  display: none


.gnav
.gnav__inner
.gnav__lists
  text-align: center
.gnav__item
  display: inline-block
  vertical-align: top
  margin: 0 20px
  a
    display: block
    &:hover
      span
        color: $COL_BASE
  span
    color: $COL_FONT_BASE
    +MIX_REM(12)
    line-height: 1
    letter-spacing: .05em
  &[data-current=true]
    a
      pointer-events: none
    span
      color: $COL_BASE


/* フッター */
footer.footer
.footer__wrapper
  padding: 25px 0
.footer__copylight
  text-align: center
  small
    color: $COL_FONT_BASE
    +MIX_REM(12)
    line-height: 1
    letter-spacing: .05em


/* ページトップ */
.pagetop
  position: fixed
  bottom: 0
  right: 0
  opacity: 0
  transition: opacity .2s
  pointer-events: none
  cursor: pointer
  &[data-current=true]
    opacity: 1
    pointer-events: auto
.pagetop__inner
  position: relative
  width: 50px
  height: 50px
  // border:
  //   radius: 100%
  background-color: $COL_SUB
.pagetop__obj
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  width: 20px
  height: 20px
  border:
    top: 0
    left: 10px solid transparent
    right: 10px solid transparent
    bottom: 20px solid #fff
  span
    display: none


/* モーダル */
.mlWrap
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  opacity: 0
  background-color: rgba(#111, .7)
  transition: opacity .2s
    delay: .1s
  &[data-current=true]
    display: block
    opacity: 1
    .mlWrap__container
      width: 50%
      height: auto
      padding: 1.5rem
.mlWrap__container
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  width: 0
  height: 0
  padding: 0
  background-color: #ccc
  transition: all .3s
    delay: .2s
