/* -----------------------------------------------
  COMMON SETTINGS
  ----------------------------------------------- */
html,body
  width: 100%
  height: 100%
body
  color: #000
  backface-visibility: hidden
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif
  font-size: $DE_FONT + px
  font-size: 1rem
  line-height: 1.5

a
  outline: none
  text-decoration: none


/* ヘッダー */
#header
  display: block

/* グローバルメニュー */
#global-nav
  display: block

/* フッター */
#footer
  display: block
