// commonディレクトリ
$DIR_IMG_CMN: "/img/common/"

// @font-face
//   font-family: "NotoSans-Regular"
//   font-style: normal
//   font-weight: 500
//   font-display: swap
//   src: url("../fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.eot")
//   src: url("../fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.woff2") format("woff2"), url("../fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.woff") format("woff"), url("../fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.ttf") format("truetype")

// webfont
// $WEBFONT_NotoSansRegular: 'NotoSans-Regular', sans-serif

$FONT_KAKU: "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "Helvetica Neue", "Yu Gothic", YuGothic, Arial, "メイリオ", Meiryo, sans-serif
$FONT_MIN: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;

// カラー
$COL_BASE: #000
$COL_NAV: #ccc
$COL_BTN: #1c1c1c


$DE_FONT: 16

// VW基準横幅
$base_vw: 640
$break_point: 750

// $BREAK_POINT_PC_WIDE: 1296px

// mixin 設定
=MIX_REM($size)
	font-size: $size + px
	font-size: $size / 16 + rem

=MIX_FONT_VW($size)
	font-size: $size + px
	font-size: $size / $base_vw * 100 + vw

