block vars
	- var _title_str = '株式会社てst'; // タイトルタグのやーつ
	- var _desc_str = 'でぃすくりぷしょんをいれるんじゃ'; // descriptionsのやーつ
	- var _keys_str = 'きーわーどをいれるんじゃ'; // keywordsやーつ
	- var _page_category = 'home'; // ページのカテゴリー
	- var _page_id = _page_category + '-page'; // ページカテゴリーの後ろに付与してIDとして使う
	- var DIR_IMG_PAGE = "/img/" + _page_category; // イメージへのリンク
	- var DIR_CSS = "/css/"; // cssのリンク
	- var DIR_JS = "/js/"; // jsのリンク
//- snipet
//- img(src="/#{DIR_IMG_PAGE}***.png",width="750",height="410",alt="")
//- a(href="/")
extends partial/_layout
block link
	//-link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cinzel+Decorative')
	link(rel='stylesheet', href='#{DIR_CSS}home.css')
block body
	article
		//- 画像パス 読み込みテスト

		//
			==============================================
			セクション
			==============================================
		section#section-id
			.outer
				.inner
					// ここにコンテンツ
					p test
				// /.inner
			// /.outer
		// /section


block script
	//- ページ固有のjs
	//- script(src='#{DIR_JS}home.min.js')
